<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content Aggregator Show</title>
    <style>
        h2 {
            font-family: arial, sans-serif;
        }
    </style>
</head>

<body>

<h2> Content Aggregator (Index) </h2>

<h3> News Fetched...!!!! Try options again.. </h3>

<h3> Select Function: </h3>
    <form method="POST" action="formulario">
        <p>
            <input type="submit" name="submit_button" value="Fetch">
        </p>
        <p>
            <input type="submit" name="submit_button" value="Show">
        </p>
    </form>
</body>
</html>